@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

body {
	margin: 10px 0;
	background-color: #F3F3F3;
}
.logo{
	margin: 0 auto;
	display: block;
	border-width: 3px;
}
.cat{
	margin: 0 auto;
	display: block;
	padding: 10px 10px 10px 10px;
	border: 10px solid #22124D;
}
.animals,.puppies{
	margin: 0 auto;
	display: block;
}
header {
	Background-color: #22124D;
	max-height: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
}

main {
	margin: 0 auto;
	max-width: 1000px;
	padding: 10px 20px 20px 20px;
	background-color: #F3F3F3;
	color: #22124D;
	text-align: center;
}
div{
	display:block;
	max-width:100%;
	height:auto;
}
footer{
	background-color: #191970;
	color: #F3F3F3;
	text-align: center;
	margin: 4px 4px 4px 4px;
}
i{
	color: #F3F3F3;
	font-size: 20px;
}
i.fa{
	font-size: 4em;
	padding: 5px 5px 5px 5px;
}
/* navigation bar */
nav ul {
	list-style-type: none;
	text-align: center;
	padding: 8px;
	font-family: 'Merriweather 900', serif;
	margin: 5px 4px 4px 4px;
}
nav li {
	display: inline;
	background-color: #22124D;
	padding: 8px 12px;
	border-radius: 5px;
	text-decoration: none;
}
nav li:hover{
	background-color: #A9A9A9;
}
nav a{
	text-decoration: none;
}
nav a:link {
	color:#1AC1DD;
}
nav a:visited {
	color:#F3F3F3;
}
nav a:hover {
	text-decoration: none;
}
nav a:active {
	color:#f3f3f3;
}
.no-bullets li{
	list-style-type: none;
}
.p-left{
	text-align: left;
}
p{
	text-align: center;
	padding: 5px 5px 5px 5px;
	font-family: 'Merriweather 400', serif;
}
.guru{
	margin: 10px 10px 10px 10px;
}
/*CSS without a media query--applies to all sizes unless overridden*/

h1,h2{
	font-family: 'Berkshire Swash', cursive;
}
h4{
	text-align: center;
	margin: 4px 4px 4px 4px;
	font-family: 'Merriweather 400', serif;
}
/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em;
	}
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
	h1{
		font-size: 1.5em;
	}
}

/* This is the styleing for the javescript game*/

Canvas {
	Background-color: #000000;
	Margin: 0 auto;
	Background-image: url(images/field_game_background.jpg);
	border: 10px solid #990000;
	box-shadow: 3px 3px 6px black;
	aspect-ratio: auto 1000/500;
}
.center-game{
	margin: 0 auto;
}
button{
	margin-left: 60px;
	margin-top: 20px;
}
/* CSS for gallery*/

.gallery .preview{
    width:100%
    height:400;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}